@model HaveYouSeenMeApp.Models.MessageModel

@{
    ViewBag.Title = "Send";
}


@using (Html.BeginForm(null, null, FormMethod.Post, null))
{
    <fieldset>
        <legend>Send Email</legend>
        @Html.ValidationSummary(false)
        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.From)
                @Html.TextBoxFor(x => x.From, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.From,"", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(x => x.Subject)
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(x => x.Message)
                @Html.TextBoxFor(x => x.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
            </div>
            <div>
                <input type="submit" class="btn btn-default" value="Send Information" />
            </div>
        </div>
        
    </fieldset>
}

